<template>

        <section class="card">
        <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

      <div class="card-header text-center">
          <h4>Ingreso de producto</h4>
      </div>
      <div class="card-body">
      <label for=""> Nombre </label>
       <input type="text" class="form-control" placeholder="Nombre del producto"><br>
       <label for="">Precio</label>
       <input type="text" class="form-control" placeholder="Precio del producto"><br>
       <label for="">Descripcion</label>
       <input type="text" class="form-control" placeholder="Descripcion del articulo"><br>
        <label for="">Imagen</label>
         <el-upload
            action="https://jsonplaceholder.typicode.com/posts/"
            list-type="picture-card"
            :on-preview="handlePictureCardPreview"
            :on-remove="handleRemove">
            <i class="el-icon-plus"></i>
        </el-upload>
        <el-dialog :visible.sync="dialogVisible">
            <img width="100%" :src="dialogImageUrl" alt="">
        </el-dialog>
       <div class="text-left"><br>
        <el-button class="btn btn-send el-icon-edit" type="primary" >Enviar</el-button>
        <el-button class="btn btn-button el-icon-delete" @click="dialogImageUrl = ''">Cancelar</el-button>
       </div>
       <!-- <el-button placeholder="di" @click="show = true">Presiona</el-button> -->
      </div>

      <el-dialog :visible.sync="show" title="Mensaje de prueba">
          <h2>Aqui agregas lo que quieras JULIO Payano</h2>
      </el-dialog>
   </section>
</template>

<script>
export default {
    data(){
        return{
            show: false,
            dialogImageUrl: '',
            dialogVisible: false
        }
    },
    methods:{
        send(){
        
        },
        handleRemove(file, fileList) {
        console.log(file, fileList);
      },
      handlePictureCardPreview(file) {
        this.dialogImageUrl = file.url;
        this.dialogVisible = true;
      }
    }
}
</script>


<style>
 
 .card{
        width: 700px;
        margin: 30px 290px;
        /* background:  */
    }
    .card-header{
        background: #22DBDB;
    }
    .btn-send{
        background: #22DBDB;
    }
    .card-body{
        background:rgb(183, 235, 235);
    }
</style>

